*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 0;
    /* padding: 2em auto; */
    background-color: grey;
    font-family: 'Barriecito', cursive;
    position: fixed;
    top: 0;
    width: 100vw;
}

header h1 {
    /* margin: 1rem auto; */
    text-align: center;
    /* padding: 2em auto; */
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

/* font-family: 'Barriecito', cursive;
font-family: 'Josefin Sans', sans-serif; */

.container {
    display: flex;
    flex-direction: row;
}
.box {
    width: 50%;
    min-height: 97vh;
    /* height: 1%; */
}

h2 {
    text-align: center;
    margin: 3em auto;
}

.computer-side {
    background-color: yellow;
}

.user-side {
    background-color: crimson;
}

.input-box {
    width: 500px;
    height: 400px;
    margin: 0 auto;
    /* border: 2px dotted blueviolet; */
}

.input-box i {
    box-shadow: 0 1px 16px hsla(210, 56%, 13%, 0.4);
}

.input {
    padding: 10vh;
    text-align: center;
}

.input i{
    padding: 1.4em 1em;
    border-radius: 50%;
    background-color: aliceblue;
}

.input-options {
    height: 100px;
    background-color: pink;
    box-shadow: 5px 20px rgba(76, 30, 39, 0.4);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4em;
    border-radius: 10px;
}

i {
    cursor: pointer;
}

.input-options i:hover {
    box-shadow: 0 1px 16px crimson;
    padding: 1em;
    background-color: rgba(220, 20, 60, 0.4);
}

#user-text, #computer-text {
    margin: 2em auto;
    text-align: center;
}

.modal {
    position: fixed;
    margin: 42vh 40vw;
    width: 20%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0%;
    left: 0%;
    background-color: #fff;
    border: 10px solid rgb(49, 48, 48);
}

#result {
    text-align: center;
}

.hidden {
    display: none;
}

#new-game {
    background: linear-gradient(60deg, rgb(33, 78, 3), rgb(33, 240, 29));
    border: 2px double black;
    border-radius: 10px;
    margin: 1em 1.5em;
    padding: 1em 1.5em;
    text-align: center;
    cursor: pointer;
}

footer {
    text-align: center;
    padding-top: 5px;
}

/* @media screen and ((min-width: 550px) and (max-width: 991px)) */

@media screen and (max-width: 991px) {
    .home {
        height: 85vh;
    }

    .container {
        flex-direction: column;
    }

    .box {
        width: 100%;
        min-height: 50%;
    }
    
    .input-box {
        width: 300px;
        height: 200px;
        margin: 0 auto;
    }

    #user-text, #computer-text {
        margin: 1em auto;
        text-align: center;
    }

    .input {
        padding: 0;
    }

    h2 {
        margin-bottom: 1em;
    }

    #you {
        margin-top: 1em;
    }
    
    .computer-side {
        padding-bottom: 1em;
    }

    .user-side {
        padding-top: 3em;
    }

    .modal {
        width: 100%;
        height: 18%;
        margin-top: 31vh;
        margin-left: 0;
    }

    .input-options {
        height: 80px;
        gap: 2em;
        padding-bottom: 2px;
    }
    .input i{
        padding: 1em 0.5em;
        border-radius: 50%;
        background-color: aliceblue;
    }

    .input-options i:hover {
        padding: 0.8em;
    }

    /* footer {
        padding-top: 1px;
    } */
}